root = true

[*]
max_line_length = off
end_of_line = crlf
indent_style = tab
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.sh]
indent_size = 2
indent_style = tab

[*.html]
indent_size = 2

[*.{js,json,yml}]
indent_style = space
indent_size = 2

[*.{css,styl,scss,less,sass}]
indent_size = 2

[*.php, *.blade.php]
indent_size = 4
indent_style = tab

[*.rb]
indent_size = 2

[*.py]
indent_size = 4

[*.txt]
indent_size = 4

[*.{c,cpp}]
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

[*.go]
indent_size = 2
indent_style = tab

[*.md]
trim_trailing_whitespace = false
indent_style = tab
